<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VELOZ - Inteligência de Mercado</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="../assets/css/sb-admin-2.min.css" />
    <link href="../assets/css/style.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-light navbg fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand titulo">Inteligência de Mercado</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon text-white"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Inteligência de Mercado</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./particao.html">Partição de Mercado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./competitividade.html">Matriz de Competitividade</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../usuario/register.html">Cadastrar Usuários</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br /><br />
    <nav class="navbar bg-light mt-2">
        <div class="container-fluid">
            <a class="navbar-brand"></a>
            <div class="btn-group dropstart">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" class="rounded-circle" width="32" height="32">
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                    <li><a class="dropdown-item" href="#" onclick="logout();">Sair</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br /><br />
    <div class="container">
        <h4>MATRIZ DE COMPETITIVIDADE</h4>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    + Novo
                </button>
            </li>
        </ul>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">MATRIZ DE COMPETITIVIDADE</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="row g-3" method="post" action="" id="formCompetitividade">
                            <div class="col-md-6">
                                <label for="inputState" class="form-label">Concorrente</label>
                                <select id="ies" class="form-select" required>
                                </select>
                                <div class="invalid-feedback">
                                    ops!!
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="ano" class="form-label">Ano de Referência</label>
                                <input type="number" class="form-control" id="ano" required>
                            </div>
                            <div class="col-md-4">
                                <label for="matriculas" class="form-label">Preço Médio</label>
                                <input type="number" class="form-control" id="preco_medio" placeholder="0" required>
                            </div>
                            <div class="col-4">
                                <label for="ingressos" class="form-label">IGC</label>
                                <input type="number" class="form-control" id="igc" placeholder="0" required>
                            </div>
                            <div class="col-4">
                                <label for="inscritos" class="form-label">Faixa</label>
                                <input type="number" class="form-control" id="faixa" placeholder="0" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success">Cadastrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-2">
        <div class="mt-2">
            <table class="table table-striped display" id="tbcompetitividade" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Cod. IES
                        </th>
                        <th>
                            Concorrente
                        </th>
                        <th>
                            Preços Médios
                        </th>
                        <th>
                            IGC
                        </th>
                        <th>
                            Faixa
                        </th>
                        <th>
                            Ano
                        </th>
                        <th>
                            Ação
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="../assets/js/sb-admin-2.min.js"></script>
    <script src="../assets/js/rotas.js"></script>
    <script src="../assets/js/competitividade.js"></script>
</body>

</html>